@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    background-color: #a5cc9b;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    cursor: url('../public/fountain-pen.png'), auto;
}

a {
    color: #455c3a;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
}

.rectangle {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #d8ffe7;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

h2.inactive {
    color: #cccccc;
}

a.inactive:hover {
    color: #0d0d0d;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #bde95f;
}

.link-button, .submit {
    background-color: #56ed63ba;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 10px 0 rgba(28, 98, 15, 0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}

.submit:hover, .link-button:hover {
    box-shadow: 0 10px 30px 0 rgba(40, 40, 40, 0.8);
}

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

select {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
}

select option:disabled {
    color: grey;
}

input[type=text]:placeholder {
    color: #cccccc;
}

.foot:hover {
    color: #0d0d0d;
}

*:focus {
    outline: none;
} 

#registerIcon {
    width:70%;
    border-radius: 0%;
    margin: 20px;
}

#loginIcon {
    width:70%;
    border-radius: 20%;
    margin: 20px;
}

.header {
    position: fixed;
    top: 0;
}

.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  flex: 1;
  display: flex;

  position: relative;
  padding: 20px;
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;

  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  padding-left: 30px;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  opacity: 0.8;
}

.header__menu, .header__menu-mobile {
  padding: 20px;
  flex: 1.236;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;

  list-style: none;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 20px;

  position: relative;
}

@media screen and (max-width: 900px) {
    .header__nav {
      background: var(--primary-color);
    }
  
    .header__menu {
      display: none;
    }
  
    .header__menu-mobile {
      display: flex;
    }
  }
  
  @media screen and (max-width: 550px) {
    .header__logo {
      padding-left: 0;
    }
  }

.content-image {
    image-resolution: from-image;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-orientation: from-image;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10%);
}

.content-image img {
    width: 35%;
    max-height: 30%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(40, 40, 40, 0.8);
}

.content-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}


.content {
    background-color: white;
    width: 40%;
    box-shadow: 0 10px 30px 0 rgba(40, 40, 40, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    transform: translate(20%, -97.5%);
}

.content-container:hover {
    transform: translate(0%);
}

.content-container {
    color: rgb(174, 155, 155);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    width: 30vh;
    color: #FAFAFA;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #000000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0;
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% { color: rgb(0, 0, 0); }
    25% { color: rgb(91, 0, 0); }
    50% { color: rgb(190, 0, 0); }
    75% { color: rgb(91, 0, 0); }
    100% { color: rgb(0, 0, 0); }
}

.content h3 {
    margin-top: 0;
    margin-right: 0;
    padding-bottom: 5%;
}

.saleVisit {
    background-color: rgba(221, 255, 208, 0.9);
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 3px solid black;
    box-shadow: 2px 5px 0 0 black;
    margin: 10px;
    width: 30vh;
}

.saleVisit:hover {
    transform: translateY(4px) translateX(2px);
    box-shadow: 0px 0px 0 0 black;
}

.saleVisit:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 2px 5px 0 0 black;
}
